body {
  size: 100%;
  padding: 0px;
}
.frame {
  background: url(PaintSwatches_1400x900.jpg);
  /*-webkit-filter: blur(5px);*/
  z-index: -1;
  background-size: cover;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.ta {
  position: relative;
  padding-top: 20px;
  /*
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  */
  z-index: 2;
  opacity: 0.8;  
}

table {
 
  align-content: center;
  position: relative;
  text-align: center;
  border-collapse: collapse;
  background-color: #efefef;
}
th{
  background-color: rgb(14, 12, 12);
  font-weight: bold; 
  border-color: auto;
  color: rgb(255, 255, 255);
}
td {
  text-align: left;

  opacity: 1.0;
}

td.course1{
  background-color: rgb(144, 147, 235) !important;
  box-shadow: 5px 0px 20px rgb(231, 230, 230) inset;
  color: rgb(255, 255, 255);
  border: 0px;
 
}

